@charset "UTF-8";



@media screen and (min-width: 768px) and (max-width:992px){
    section#login{
        width: 80vw;
        height: 280px;
    }
    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }
    div#formulario{
        float: right;
        width: 70%;
    }
    div#formulario> p#txtap{
        margin: 10px 0px 30px 0px;
        text-align: justify;
    }
    form div.campo{
    }
}

@media screen and (min-width:992px){
    section#login{
        width: 70%;
        height: 350px;
    }
    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }
    div#formulario{
        float: left;
        width: 50%;
        height: 100%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1.2em;
        text-align: justify;
    }
}
